*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.jk{
    max-width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items:center;
}
.conteiner{
    display:flex;
    width:320px;
    height:497px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding:16px
}
.photo{
    width: 288px;
    height: 288px;
    border-radius: 20px;

}
.text1{
    width: 288px;
    height:56px;
    padding: 16px 0;
    text-align:center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.text2{
    margin:16px;
    padding:16px;
    text-align:center;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
}
